.background-img-fixed {
  background:
    #f0f5fa url('../images/wheelchair-jumbotron.png') top/cover no-repeat fixed;
}

.my-white-gradient {
  background: linear-gradient(to left, rgba(255, 255, 255, 0.726), rgb(255, 255, 255));
}

body {
  margin-bottom: 100px;
}

/*---------------------------------------- Form  ------------------*/
.my-invisible {
  visibility: hidden;
  position: absolute;
}


/*---------------------------------------- Navbar ----------------*/
.logo {
  max-height: 70px;
}

/*---------------------------------------- Jumbotron -------------*/
.jumbotron-img {
  background-image: url("../images/wheelchair-jumbotron.png");
  background-position: bottom;
  background-size: cover;
  min-height: 300px;
}

.jumbotron-text {
  margin: 0 auto;
}



/*---------------------------------------- Contact Page --------*/
#contacts {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.p-2 a {
  padding: 5px;
  color: black;
}

/*---------------------------------------- Footer --------*/
footer {
  font-size: small;
  height: fit-content;
}

.width-github {
  width: 75%;
}

/*---------------------------------------- Results --------*/
.container-shadow {
  box-shadow: inset 2px 2px 0px  rgba(0, 0, 0, .25),
              3px 3px 4px  rgba(0, 0, 0, .25),
              inset -3px -3px 3px  rgba(0, 0, 0, .55);
 }
 .return-label-card {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  background-color: #d8d8d8; 
}

 .results-header {
  text-shadow: 1px 1px 1px #474747;
 }

 .results-buffer {
   height: 3em;
 }

.results-hr {
  position: relative;
  left: 37.5%;
  transform: translateY(-37.5%);
  width:25%;
  border-bottom: 2px solid #333;
}

.results-value {
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  color: #333;
  width:100%;
  }

.results-explain {
  /* text-shadow: 1px 1px 1px #474747; */
  /* font-weight: bold; */
}

/* media queries added to reduce the size of the log when on smaller screen */
@media screen and (max-width:700px) {
  img.responsive {
    width: 394px;
  }

  .jumbotron-img {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 15vh;
  }

  .jumbotron-img h1 {
    font-size: 1.6em;
    font-weight: normal;
  }

  .jumbotron-img p {
    font-size: inherit;
  }

  .jumbotron-text {
    margin: 0 auto;
  }

  .form-container {
    font-size: 0.8em;
    margin: 10px;
  }

  .width {
    width: 90%;
    margin: 0 auto;
  }



  @media screen and (max-width:496px) {
    img.responsive {
      width: 294px;
    }
  }

  @media screen and (max-width:416px) {
    img.responsive {
      width: 215px;
    }


    @media screen and (max-width:330px) {

      .width-github {
        width: 90%;
      }
    }

  }
}